* { box-sizing: border-box; }
*:focus { outline: none; }

html { font: 16px/1.5 sans-serif; }
body { margin: 0; background: #fff; color: #000; }

h1, h2, h3, h4 { font: bold 3rem/1.3 sans-serif; margin: 0 0 1rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1rem; }

p, blockquote, table, ul, ol { margin: 0 0 1.5rem; }
p:last-child, blockquote:last-child, table:last-child, ul:last-child, ol:last-child { margin: 0; }

blockquote { font-size: 1.5rem; line-height: 1.3; padding-left: 2.5rem; position: relative; }
blockquote:before { position: absolute; left: 0; top: -1.5rem; display: block; content: '\201C'; font-size: 5rem; color: #ccc; }

small { display: inline-block; font-size: .75rem; color: #909090; }

a { color: #05c; }
a:hover { color: #c00; }

img { max-width: 100%; height: auto !important; border: 0; vertical-align: middle; }

table { width: 100%; border-collapse: collapse; }
table th,
table td { vertical-align: top; text-align: left; padding: 10px 20px 10px 0; border-top: 1px solid #ccc; }

label { cursor: pointer; display: inline-block; }
label[for] { margin-bottom: .5rem; }

input, select, textarea, button { font: inherit; }
input, select, textarea { width: 100%; border: 1px solid #ccc; }
input, select { height: 40px; padding: 0 10px; }
textarea { padding: 10px; resize: vertical; }

input:focus, select:focus, textarea:focus { border-color: #09c; }

select + span:before,
input + span:before { display: inline-block; width: 20px; font: 14px/1 'FontAwesome'; color: #09c; }

select { -webkit-appearance: none; -moz-appearance: none; appearance: none; padding-right: 30px; }
select::-ms-expand { display: none; }
select + span:before { content: '\f0d7'; margin-left: -20px; pointer-events: none; }

input[type='checkbox'],
input[type='radio'],
input[type='file'] { display: none; }

input[type='checkbox'] + span:before { content: '\f096'; }
input[type='checkbox']:checked + span:before { content: '\f046'; }

input[type='radio'] + span:before { content: '\f1db'; }
input[type='radio']:checked + span:before { content: '\f192'; }

input[type='file'] + span:before { content: '\f0c6'; }

button, .button { display: inline-block; line-height: 40px; padding: 0 20px; background: #09c; color: #fff; cursor: pointer; text-decoration: none; border: 0; border-bottom: 3px solid #069; }
button:hover, .button:hover { color: #fff; }
button:active, .button:active { border: 0; border-top: 3px solid #069; }

hr { border: 0; border-top: 1px solid #eee; margin: 2rem 0; }

.clearfix:after { content: ''; display: block; clear: both; }
.hidden { display: none; }

.visible-desktop { display: block; }
.hidden-desktop { display: none; }

.visible-tablet { display: none; }
.visible-mobile { display: none; }

.grid { display: flex; flex-wrap: wrap; margin: -20px 0 0 -20px; }
[class*='width-'] { padding: 20px 0 0 20px; }

.vertical-middle { align-items: center; }
.vertical-bottom { align-items: flex-end; }

.width-25 { width: 25%; }
.width-50 { width: 50%; }
.width-75 { width: 75%; }

.width-33 { width: 33.33%; }
.width-66 { width: 66.66%; }

.wrapper { max-width: 960px; margin: 0 auto; padding: 40px; }

@media screen and (max-width: 1023px) {
	.visible-desktop { display: none; }
	.hidden-desktop { display: block; }

	.visible-tablet { display: block; }
	.hidden-tablet { display: none; }
}

@media screen and (max-width: 767px) {
	html { font-size: 12px; }
	table { display: block; overflow-x: auto; }

	.visible-tablet { display: none; }
	.hidden-tablet { display: block; }

	.visible-mobile { display: block; }
	.hidden-mobile { display: none; }
}